<footer class="Footer container d-flex bg-dark mt-5">
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
</footer>