<footer class="Footer container-fluid d-flex bg-info mt-5 py-5">
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
      <div class="col-sm-4 bg-success ms-1" >
          Lorem, ipsum dolor.
      </div>
</footer>