<nav
  class="top-0 position-fixed container-fluid d-flex justify-content-center align-items-center py-2 text-white"
  id="resNav"
  style=" height: 80px; z-index: 1000;"
>
  <div
    class="h-100 d-flex justify-content-between align-items-center p-2"
    style="width : 90%"
  >
    <div
      class="h5 d-flex justify-content-start align-items-center text-primary"
    >
      <a
        href="http://localhost:7000/"
        class="cursor-pointer text-decoration-none"
      >
        Jobfinder
      </a>
    </div>
    <div
      class="h-100 d-flex justify-content-end align-items-center px-1 col-sm-8"
    >
      {{! navigation link begins }}
      <div
        class="h-100 d-none d-lg-flex justify-content-end align-items-center d-sm-none"
      >
        <ul
          class="h-100 d-flex flex-wrap justify-content-center align-items-center list-unstyled"
        >

          <li class="nav-lists mx-3" style="list-style-none ">
            <a
              href="http://localhost:7000/"
              class="link text-decoration-none fw-normal"
            >
              About
            </a>
          </li>

          <li class="nav-lists mx-3" style="list-style-none ">
            <a
              href="http://localhost:7000/internships"
              class="link text-decoration-none fw-normal"
            >
              Interships
            </a>
          </li>
          <li class="nav-lists mx-3" style="list-style-none">
            <a href="#" class="link text-decoration-none fw-normal">
              Jobs
            </a>
          </li>
          <li class="nav-lists mx-3" style="list-style-none">
            <a href="#" class="link text-decoration-none fw-normal">
              Courses
            </a>
          </li>
        </ul>
      </div>

      {{! auth button group }}
      <div
        class="button-group d-lg-flex d-none flex-wrap justify-content-end align-items-center mx-1"
        id="authButton"
      >

        {{! <script>
          var authButton = document.getElementById("authButtton"); 
          var user_data
          = localStorage.getItem("user_data"); 
          var token =
          localStorage.getItem("token"); 


          if(user_data && token){
          authButton.innerHTML = `<a herf="http://localhost:7000/logout"
          >logout</a>`}
          else{ 
            authButton.innerHTML = `<a
          href="http://localhost:7000/register" class="border border-primary
          rounded-1"> SignUp </a> <a href="http://localhost:7000/login"
          class="border border-primary rounded-1"> Login </a>` }

        </script> }}

      </div>
      {{! responsive navbar }}
      <button
        type="button"
        class="btn d-block d-lg-none cursor-pointer"
        onclick="resNav()"
      >
        <i class="fa fa-bars text-primary" style="font-size:23px"></i>
      </button>
    </div>
  </div>
</nav>
{{! ResNav }}
{{!-- <div
  class="col-md-5 d-xxl-none d-none container position-fixed left-0 d-flex justify-content-center align-items-center text-white"
  id="resNav"
>
  <div
    class="w-100 px-2 d-flex flex-column justify-content-between align-items-start"
    style="min-height : 100%"
  >
    <div
      class="container-fluid d-flex flex-column justify-content-center align-items-center"
    >
      <div
        class="container-fluid h5 d-flex justify-content-start align-items-center text-primary border-bottom bg-warning"
        style="height:80px;"
      >
        <a href="http://localhost:7000/" class="cursor-pointer">
           Jobfinder
        </a>
      </div>

      <ul
        class="container-fluid d-flex flex-column justify-content-center align-items-center bg-danger"
        style="list-style : none"
      >
        <li
          class="container mx-3 p-3 resNavLink"
          style="list-style-none "
        >
          <a
            href="http://localhost:7000/internships"
            class="link text-decoration-none fw-normal"
            
          >
            Internships
          </a>
        </li>
        <li
          class="container mx-3 p-3 resNavLink"
          style="list-style-none"
        >
          <a
            href="#"
            class="link text-decoration-none fw-normal"
            
          >
            Jobs
          </a>
        </li>
        <li
          class="container mx-3 p-3 resNavLink"
          style="list-style-none"
        >
          <a
            href="#"
            class="link text-decoration-none fw-normal"
            
          >
            Courses
          </a>
        </li>
        <li
          class="container-fluid mx-3 py-3 resNavLink list-style-none d-flex justify-content-start align-items-center"
        >
          <a
            href="http://localhost:7000/login"
            class="text-decoration-none fw-normal text-start container-fluid link text-decoration-none fw-normal fw-bold"
          >
            Login
          </a>
        </li>

        <li
          class="container-fluid mx-3 py-3 resNavLink list-style-none d-flex justify-content-start align-items-center"
        >
          <a
            href="http://localhost:7000/signUp"
            class="text-decoration-none fw-normal text-start container-fluid link text-decoration-none fw-normal fw-bold"
          >
            SignUp
          </a>
        </li>
      </ul>
    </div>

    <div>
      {{! Illustration }}
    </div>
  </div>
</div> --}}

<script>
  {{! const resNav = () => {  
    var resNav =  document.getElementById('resNav');
     var x =  resNav.classList.contains("d-none");
     var y =  resNav.classList.contains("d-block");
     if (x) {
            resNav.classList.remove("d-none");
            resNav.classList.add("d-block"); 
     }else if(y){
            resNav.classList.remove("d-block"); 
            resNav.classList.add("d-none"); 
    }
  }
    }}
  let visible = false; let PrevScrollPos = 0; const handleScroll = () => { const
  currentScrollPos = window.pageYOffset;const resNav =
  document.getElementById('resNav'); if (currentScrollPos !== 0) { visible =
  true; resNav.classList.add("bg-white","shadow-sm","text-black") } else {
  visible = false; resNav.classList.remove("bg-white","shadow-sm", "text-black")
  } currentScrollPos; console.log(PrevScrollPos , currentScrollPos , visible) };
  window.addEventListener("scroll", handleScroll);

</script>