<nav class="Navbar row d-flex justify-content-center align-items-center bg-dark py-2" >
   <div class="col-sm-2 h5 text-center my-auto text-white">
      JobShala
   </div>
   <div class="nav-links col-sm-6 d-flex justify-content-end align-items-center px-1" >
      <li class="nav-lists mx-2" style="list-style-none text-black" >
         <a href="#" class="link text-decoration-none text-white">
             Home
         </a>
      </li>
       <li class="nav-lists mx-2" style="list-style-none text-black" >
         <a href="#" class="link text-decoration-none text-white">
             About
         </a>
      </li>
       <li class="nav-lists mx-2" style="list-style-none text-black" >
         <a href="#" class="link text-decoration-none text-white">
            other 
         </a>
      </li>
   </div>
   <div class="button-group col-sm-4 "> 
        <a href="login" class="btn btn-primary" >
            Login
        </a>
        <a href="signUp" class="btn btn-danger" >
            signUp
        </a>
   </div>
</nav>