<nav class="Navbar top-0 position-fixed Navbar container-fluid d-flex justify-content-center align-items-center bg-white  py-2">
    <div class="container d-flex justify-content-between align-items-center ">
         <div class=" h5 d-flex justify-content-start align-items-center font-weight-bold text-primary">
            Jobfinder
          </div>
         <div class="nav-links d-flex justify-content-end align-items-center px-1 col-sm-8" >
{{!--  navigation link begins --}}
            <div class="d-flex justify-content-end align-items-center" id="Navlinks" >
              <ul class="d-flex flex-wrap justify-content-center align-items-center" >
                   <li class="nav-lists mx-2 px-1" style="list-style-none text-black " >
                 <a href="http://localhost:7000" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  INTERNSHIPS
                 </a>
               </li>
               <li class="nav-lists mx-2 px-1" style="list-style-none text-black" >
                 <a href="#" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  JOBS
                 </a>
              </li>
               <li class="nav-lists mx-2 px-1" style="list-style-none text-black" >
                 <a href="#" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  COURSES
                 </a>
              </li>
              </ul>
            </div>
    
            {{!--  auth button group --}}
             <div class="button-group d-flex flex-wrap justify-content-end align-items-center mx-1" id="authButton"> 
             
             </div>
              {{!--  responsive navbar --}}
             <div class="p-1 toggleMenu text-dark block md:hidden" style="cursor:pointer" >
                  <i class="fa fa-bars" style="font-size:23px" ></i>
             </div>
        </div>
   </div>
</nav>
<script>
       function resNav(){
           {{!--  offcanvas --}}
       }
       
       const cookie = document.cookie;

       function getCookie(cname) {
           let name = cname + "=";
           let ca = document.cookie.split(';');
           for(let i = 0; i < ca.length; i++) {
             let c = ca[i];
             while (c.charAt(0) == ' ') {
               c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
               return c.substring(name.length, c.length);
             }
           }
           return "";
         }

         function checkCookie() {
           let token = getCookie("token");
           if (token != "") {
                return 1;
           } else {
                return 0;
           }
         }
       var UserEmail = getCookie("UserEmail")
       var userDesignation = getCookie("userDesignation");
       var decodedValue = decodeURIComponent(UserEmail);
       var decodedDesignation = decodeURIComponent(userDesignation);
       var checkToken = checkCookie();
       var authButton = document.getElementById('authButton');
        if(checkToken && decodedDesignation === "student" ){
               authButton.innerHTML = `<div class="dropdown" ><button class="flex authButtons btnGreen dropdown-toggle" data-bs-toggle="dropdown">
                ${decodedValue[0].toUpperCase()}
               </button>
                <ul class="dropdown-menu">
                   <li><a class="dropdown-item" href="http://localhost:7000/profile">Profile</a></li>
                   <li><a class="dropdown-item" href="http://localhost:7000/resume">Resume</a></li>
                   <li><a class="dropdown-item" href="#">Messages</a></li>
                   <li><a class="dropdown-item" href="#">Applied Company</a></li>
                   <li><a class="dropdown-item" href="http://localhost:7000/upgrade">Upgrade</a></li>
                   <li><a href="http://localhost:7000/logout" class="dropdown-item">Logout</a></li>
                 </ul>
                </div>
              </a>`;
              }else if(checkToken && decodedDesignation === "company" ){
                   authButton.innerHTML = `<div class="dropdown" ><button class="flex authButtons btnGreen dropdown-toggle" data-bs-toggle="dropdown">
                ${decodedValue[0].toUpperCase()}
               </button>
                <ul class="dropdown-menu">
                   <li><a class="dropdown-item" href="http://localhost:7000/profile">Profile</a></li>
                   <li><a class="dropdown-item" href="#">Messages</a></li>
                   <li><a class="dropdown-item" href="http://localhost:7000/opportunity">Add Opportunity</a></li>
                   <li><a href="http://localhost:7000/logout" class="dropdown-item">Logout</a></li>
                 </ul>
                </div>
              </a>`;
              }
        else{
              authButton.innerHTML = `<a href="http://localhost:7000/login" class="authButtons">
                  Login
              </a>
              <a href="http://localhost:7000/signUp" class="authButtons btnGreen" >
                  signUp
              </a>`;
        }
 </script>

