<nav class="Navbar top-0 position-fixed Navbar container-fluid d-flex justify-content-center align-items-center bg-light py-2">
    <div class="container d-flex justify-content-center align-items-center ">

      {{!--  responsive navbar --}}
             <div class="p-1 toggleMenu text-dark" style="cursor:pointer" onclick="resNav()" >
                  <i class="fa fa-bars" style="font-size:23px" ></i>
             </div>

         <div class="col-sm-2 h5 text-center my-auto font-weight-bold text-primary">
            JobShala
          </div>
         <div class="nav-links col-sm-10 d-flex justify-content-center align-items-center px-1" >
{{!--  navigation link begins --}}
            <div class="col-sm-7 d-flex justify-content-end align-items-center" id="resNav1" >
               <li class="nav-lists mx-2 px-1" style="list-style-none text-black " >
                 <a href="http://localhost:7000" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  JOBS
                 </a>
               </li>
               <li class="nav-lists mx-2 px-1" style="list-style-none text-black" >
                 <a href="#" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  INTERNSHIPS
                 </a>
              </li>
               <li class="nav-lists mx-2 px-1" style="list-style-none text-black" >
                 <a href="#" class="link text-decoration-none text-dark font-weight-bold" style="font-weight: 700;">
                  COURSES
                 </a>
              </li>
            </div>
    
            {{!--  auth button group --}}
             <div class="button-group col-sm-5 mx-1" id="resNav2" > 
              <a href="http://localhost:7000/login" class="authButtons">
                  Login
              </a>
              <a href="http://localhost:7000/signUp" class="authButtons btnGreen" >
                  signUp
              </a>
             </div>
             
        </div>
   </div>
</nav>
<script>
       function resNav(){
           {{!--  offcanvas --}}
       }
</script>

