<div class="container py-4 mt-5 d-flex flex-row justify-content-center align-items-center">

<div class="container py-4 mt-5 d-flex flex-row justify-content-center align-items-center" id="jobContainer" >
      <div class="filters col-sm-3 bg-light">
        orum, adipisci, deserunt soluta ab molestiae sapiente quis dolore aspror alias consequuntur consectetur a explicabo odit voluptatibus! Rem aliquid iusto aliquam ea incidunt a reprehenderit, eius neque enim quas ex facere qui accusantium nemo ipsam commodi omnis blanditiis modi quam illo ut! Libero tenetur doloribus iusto, beatae neque distinctio dicta exercitationem cum, pariatur voluptatum architecto, sapiente consectetur sunt! Rerum suscipit laborum eligendi fugiat vitae vel consectetur quos error nostrum? At quibusdam officia voluptatem quasi maxime facere sapiente esse ut, perspiciatis, architecto sequi tempora ab iste nemo impedit vel iure voluptates expedita nihil ratione aut. Fugiat, placeat fugit voluptate ipsam aliquam aspernatur? Vitae vero quia hic aliquam, dignissimos labore. Quod ipsam suscipit, neque tempora vitae quaerat quasi labore!
      </div>
      <div id="myJobCont" class="col-sm-9 py-4"></div>
</div>
</div>
<script>

    async function getter(){
        fetch('http://localhost:7000/api', 
          { method: 'POST',headers: {
            'Content-type': 'application/json; charset=UTF-8',
           },
            body: JSON.stringify({
                   "id": 17,
                   "stipend": 7192,
                   "email": "zo@email.com",
                   "companyName": "UGI Corporation",
                   "address": "1997 Hibmu Jct",
                   "jobType": "Research Specialist",
                   "description": "Cufti lo opfifep ajruh su mucawzi fot vokok wevajca go oza keuzfa siswelci gelip caemno sitrajwed imzugif soj. Zudcirpom fi razfebmab oscifol fivrub nuhenbi hulo ar eziuhun evorew boohjok bu atimazip popfavget devcucof tuwisjun viewo busme. Gos va calak ca ga mo ajgicen jimowa jiwucwuk tiewu paki pobek boh mi goltil zoele vopov. Muk dukig tozuhjod ha olnead hec jamha niik sisoh va sase mo afehoita nicirip nuno ca do gi. Gow folda ad coba zaso bef me sahkakki duv id du mi sunpothu booku jifo lemwi moroppi.",
                   "duration": 6,
                   "seats": 2,
                   "jobCategory": "Office"
           })
        })
        .then((response) => response.json())
        .then((data)=>{
                var myJobCont = document.getElementById('myJobCont');
                myJobCont.innerHTML = "";
                console.log(data)
                data?.slice(0,10).forEach((d)=>{
                        var content = `<div class="bg-light jobCard p-2" id=${d.id} >
                            <div class="container JobInfo d-flex justify-content-between align-items-center py-3">
                                  <div>
                                    <h5>
                                      Employee Required for :
                                      <strong class="text-info" >
                                         ${d.jobType} 
                                      </strong>
                                      's Role 
                                    <h5>
                                  </div>
                                  <div>
                                    helperICons
                                  </div>
                            </div>

                             <div class="container border-bottom border-top border-secondary border-opacity-50  py-2 px-3 d-flex flex-row justify-content-between align-items-center text-secondary" >
                                   <div class="text-start">
                                    <span>
                                       an offer by
                                    </span>
                                    <h5>
                                      ${d.companyName}
                                    </h5>
                                   </div>
                                   <div class="text-end">
                                        <span>
                                           To Contact :
                                        </span>
                                       <h5 >
                                        ${d.email}
                                       </h5>
                                   </div>
                            </div>

                            <div class="container py-2 px-3 d-flex flex-column justify-content-between align-items-center" >
                                 <h5 class="text-start container d-flex">
                                    Job Description
                                 </h5>
                                 <p>
                                  <small>
                                      ${d.description}
                                  </small>
                                 </p>
                            </div>
                            <div>
                                <div class="px-3 bg-danger container d-flex justify-content-between align-items-center text-dark">
                                  Seats Available :
                                </div>
                                <div>
                                  <a href="http://localhost:7000/viewMore/:${d.id}"class="text-decoration-none btn btn-outline-primary">
                                    View Details
                                </a>
                                </div>
                            </div>
                         
                              
                          </div>`;
                        myJobCont.innerHTML += content;
                })
         }).catch((error)=>{
            console.error('Error Gathering Data',error);
         })
    }
    getter();


 
</script>