<div class="container-fluid d-flex flex-row justify-content-center align-items-center" id="welcome">
     <div class="container d-flex flex-row justify-content-center align-items-center">
           <div class="col-sm-6 h-100 d-flex flex-column align-items-center justify-content-center">
               <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
                  <img src="/homeIllust.jpg" alt="illustration" style="height : 80%">
               </div>
           </div>
           <div class="col-sm-6 h-100 d-flex flex-column align-items-center justify-content-center">
               <div class="fs-2 fw-semibold">
                  Welcome to the JobFinder!
               </div>
               <div class="" >
                 Features : 
                  
               </div>
                 <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                 </ul>
           </div>

     </div>
</div>

<script>
      function getCookie(cname) {
           let name = cname + "=";
           let ca = document.cookie.split(';');
           for(let i = 0; i < ca.length; i++) {
             let c = ca[i];
             while (c.charAt(0) == ' ') {
               c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
               return c.substring(name.length, c.length);
             }
           }
           return "";
         }
         var userDesignation = getCookie("userDesignation");
</script>