<div class="container-fluid h-50 d-flex flex-row justify-content-center align-items-center" id="welcome">
     <div class="container h-100 d-flex flex-row justify-content-center align-items-center">
           <div class="col-sm-6 h-100 d-flex flex-column align-items-center justify-content-center">
               <div class="container-fluid h-100 d-flex justify-content-center align-items-center">
                  {{!-- Image --}}
               </div>
           </div>
           <div class="col-sm-6 h-100 d-flex flex-column align-items-center justify-content-center">
               <div class="fs-2 fw-semibold">
                  Welcome to the JobFinder!
               </div>
               <div class="" >
                 Features : 
                  
               </div>
                 <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                 </ul>
           </div>

     </div>
</div>

<style>

  #welcome {
  min-height : 50vh;
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

</style>

<script>
      function getCookie(cname) {
           let name = cname + "=";
           let ca = document.cookie.split(';');
           for(let i = 0; i < ca.length; i++) {
             let c = ca[i];
             while (c.charAt(0) == ' ') {
               c = c.substring(1);
             }
             if (c.indexOf(name) == 0) {
               return c.substring(name.length, c.length);
             }
           }
           return "";
         }
         var userDesignation = getCookie("userDesignation");
</script>