@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
      display: none;
}

/*  Navbar styles begins------------------------------------------------------------ */
.Navbar li {
    list-style: none;
}
.Navbar{
     height: 80px;
     z-index: 2;
     position: absolute;
     top : 0;
}

.toggleMenu{
    display: none;
}

#resNav{
  height : 100vh;
  z-index : 2;
  background : linear-gradient(45deg, rgba(98, 181, 230, 0.8),rgba(255, 255, 255, 1));
  backdrop-filter: blur(0.4rem);
}
.resNavLink{
  background: linear-gradient(to right , rgba(255,255,255,0.1) , rgba(255,255,255,0.8) , rgba(255,255,255,0.1));
  margin-bottom: 10px;

}

/*  Navbar styles Ends here------------------------------------------------------------- */


.card{
  width: 45vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#opportunityCard{
   height: 60vh;
   width: 50vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#welcomeContainer{
   background: linear-gradient(to right , rgba(255,255,255,1) , rgb(0, 170, 255));
}

/*  JObDataFetcher hbs Styles---------------------------------------------------------------------------------------------------------------------- */
.jobDataContParent{
    display: flex;
    flex-direction :column;
    justify-content: start;
}
#jobContainer{
    height: 80vh;
    overflow: hidden;
    padding: 5vh 0px;
}
.jobCard{
    margin: 2px 0px;
    width: 85%;
    min-height: 50vh;
    box-shadow: 5px 2px 10px rgba(0,0,0,0.1), -0.5em 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* #myJobCont::-webkit-scrollbar{
     display: none;
} */

#myJobCont{
    height:65vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.filters{
     height: 80vh;
     overflow: hidden;
}
#closeBtnFilter{
  display: none;
 }
.paginationButton{
    margin: 0px 2px;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(63, 63, 63,0.5);
    cursor: pointer;
    user-select: none;
}


/* block ends here ------------------------------------------------------------------------------------------------------------------------- */
/*  login ---------------------------------------------------------------------------------------------------*/
 
 
 .Login{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


/*  Block ends here ---------------------------------------------------------------------------------------------------*/

/* signUp---------------------------------------------------------------------------------------------------------------------------------------- */

.SignUp{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formContainer{
  width: 50vw;
}



/* -------------block ends----------------------------------------------------------------------------------------------------------------------------------------- */


.Footer{
  height: 30vh;
}





 /* responsiveness--------------------------------------------------------------------------------------------------------- */


 @media only screen and (max-width : 1200px){
  .jobCard{
      min-height: 50vh;
      overflow-y: scroll;
  }
}

 @media only screen and (max-width : 750px){
      #jobContainer{
        display: flex;
        flex-direction: column;
      }
      .toggleMenu{
        display: block;
      }
      .jobCard{
          min-height: 60vh;
          overflow-y: scroll;
      }
      .jobDataContParent{
        min-width: 100%;
      }
      #jobContainer{
        height: 125vh;
      }
      .filters{
        min-width: 95%;
        min-height: 50vh;
      }
      #formContainer{
        width: 85vw;
      }
       #studentFormSignUp{
        width: 85vw;
      }
       #closeBtnFilter{
        display: block;
       }
       #filterForm{
        display: none;
       }
       #pricingCardCont{
          min-height: 240vh ;
          width: 100vw;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
       }
       .pricingCard{
         width: 80%;
         min-height: 80vh;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
       }
       
    #opportunityCard{
           height: 60vh;
            width: 80vw;
          }
 }