@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
      display: none;
}

/*  Navbar styles begins------------------------------------------------------------ */
.Navbar li {
    list-style: none;
}
.Navbar{
     height: 80px;
}
.authButtons{
    color: #000;
    padding: 10px 2rem;
    background-color: white;
    margin: 0px 2px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgb(2, 82, 255);
}
.btnGreen{
    border: 2px solid rgba(36, 126, 1, 0.822);
}

.toggleMenu{
    display: none;
}

/*  Navbar styles Ends here------------------------------------------------------------- */







/*  JObDataFetcher hbs Styles---------------------------------------------------------------------------------------------------------------------- */
.jobDataContParent{
    display: flex;
    flex-direction :column;
    justify-content: start;
}
#jobContainer{
    height: 80vh;
    overflow: hidden;
    padding: 5vh 0px;
}
.jobCard{
    margin: 2px 0px;
    width: 85%;
    min-height: 50vh;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.3), -1em 0 20px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* #myJobCont::-webkit-scrollbar{
     display: none;
} */

#myJobCont{
    height:65vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.filters{
     height: 80vh;
     overflow: hidden;
}

.paginationButton{
    margin: 0px 2px;
    padding: 0.5rem 1rem;
    border: 1px solid rgba(63, 63, 63,0.5);
    cursor: pointer;
    user-select: none;
}


/* block ends here ------------------------------------------------------------------------------------------------------------------------- */
/*  login ---------------------------------------------------------------------------------------------------*/
 
 
 .Login{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }


/*  Block ends here ---------------------------------------------------------------------------------------------------*/

/* signUp---------------------------------------------------------------------------------------------------------------------------------------- */

.SignUp{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#formContainer{
  width: 50vw;
  /* padding: 10px 0px; */
}



/* -------------block ends----------------------------------------------------------------------------------------------------------------------------------------- */


.Footer{
  height: 30vh;
}





 /* responsiveness--------------------------------------------------------------------------------------------------------- */


/* 
 @media only screen and (max-width : 1400px){
      .jobCard{
           min-height: 60vh;
      }
      #resNav1{
        display: none;
      }
      #resNav2{
        display: none;
      }
      .toggleMenu{
        display: block;
      }
      .jobDataContParent{
        width: 100vw;
      }
      
} */


 @media only screen and (max-width : 700px){
      #jobContainer{
        display: flex;
        flex-direction: column;
      }
      .toggleMenu{
        display: block;
      }
      .jobCard{
        /* width: 85vw; */
         min-height: 70vh;
      }
      .jobDataContParent{
        min-width: 100%;
      }
      #jobContainer{
        height: 125vh;
      }
      .filters{
        min-width: 100%;
        height: 40vh;
      }
      #formContainer{
        width: 85vw;
      }
       #studentFormSignUp{
        width: 85vw;
      }
      .resNav1{
        display: none;
      }
 }